<h1>Please fill out Survey Form!!!</h1>
<form action='/forms/create' method='post'>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        Your Name: <input type='name' name='name'>
        Dojo Location: <select name="location">
            <option value='dallas'>Dallas</option>
            <option value="seattle">Seattle</option>
            <option value="los angeles">Los Angeles</option>
            <option value="chicago">Chicago</option>
            </select>
        Favortie Language: <select name="language">
            <option value="python">Python</option>
            <option value="c++">C++</option>
            <option value="ruby">Ruby on Rails</option>
            <option value="java">Java</option>
            </select>
        Comments (optional): <textarea name="comment" rows="15" cols="10">
            </textarea>
          <input type='submit' value='submit'>
        </form>
